#define PODOFO_COMPILE_RC

#include "auxiliary/Version.h"
#include "winresrc.h"

#undef PODOFO_COMPILE_RC

#define VER_PRODUCTVERSION          PODOFO_VERSION_MAJOR,PODOFO_VERSION_MINOR,PODOFO_VERSION_PATCH,0
#define VER_PRODUCTVERSION_STR      PODOFO_VERSION_STRING

#define VER_FILEVERSION             VER_PRODUCTVERSION
#define VER_FILEVERSION_STR         VER_PRODUCTVERSION_STR

#define VER_PRIVATEBUILD_STR        "Custom Build\0"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

#if defined(COMPILING_SHARED_PODOFO)
#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR "PoDoFo Dynamic Link Library\0"
#define VER_ORIGINALFILENAME_STR "podofo.dll\0"
#else
#define VER_FILETYPE VFT_STATIC_LIB
#define VER_FILEDESCRIPTION_STR "PoDoFo Static Library\0"
#define VER_ORIGINALFILENAME_STR "podofo.lib\0"
#endif

#if 1
#define VER_PRERELEASE VS_FF_PRERELEASE
#else
#define VER_PRERELEASE 0L
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	(VS_FF_PRIVATEBUILD|VER_PRERELEASE|VER_DEBUG)
FILEOS         	VOS__WINDOWS32
FILETYPE       	VER_FILETYPE
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR
            VALUE "Comments", "PoDoFo PDF Library\0"
            VALUE "CompanyName", "PoDoFo\0"
            VALUE "InternalName", "PoDoFo\0"
            VALUE "ProductName", "PoDoFo\0"
            VALUE "LegalCopyright", "Copyright (C) 2021 Francesco Pretto, The PoDoFo Developers\0"
            VALUE "FileDescription", VER_FILEDESCRIPTION_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "PrivateBuild",     VER_PRIVATEBUILD_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END
