[Desktop Entry]
Type=Application
Name=calibre
GenericName=E-book library management
GenericName[de]=E-Book Bibliotheksverwaltung
Comment=E-book library management
Comment[es]=aplicación para la gestión de libros electrónicos
Comment[de]=E-Book Bibliotheksverwaltung
Exec=calibre %f
Icon=calibre-gui
Categories=Office;Database;FileTools;Viewer;Qt;
MimeType=x-content/ebook-reader;
