[Desktop Entry]
Type=Application
Name=LRF Viewer
Comment=Viewer for LRF files (SONY ebook format files)
TryExec=lrfviewer
Exec=lrfviewer %F
Icon=calibre
MimeType=application/x-sony-bbeb;
Categories=Graphics;Viewer;
