CMakeFiles/
bin/
obj/
out/
cmake-build-*/
build*/
target/
target-*/
x64/
x86/
.vs/
*.qmlc
*.jsc
*.user
*.asv
*.autosave
.qmake.stash
.*/
._*
*.kdev4
*-swp
.gradle/
.DS_Store
__pycache__/
*.code-workspace

# Doxygen
documentation/
Doxyfile.log
latex/
rtf/
man/
xml/
htmlhelp/
vcpkg_installed/