/.debhelper/

/calibre/
/calibre-bin/
/tmp/

/calibre-bin.debhelper.log
/calibre-bin.substvars

/calibre.debhelper.log
/calibre.preinst.debhelper
/calibre.postinst.debhelper
/calibre.prerm.debhelper
/calibre.postrm.debhelper
/calibre.substvars

/debhelper-build-stamp
/files

/liberation.backup/
